nick: sinap
realname: https://github.com/akheron/sinap

networks:
  freenode:
    server: chat.freenode.net
    channels:
      - '#sinap'

modulesets:
  core:
    http:
      address: '127.0.0.1'
      port: 8000
